@import "@scss/variable.scss";

.wrap-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    z-index: $modal-zindex;

    .wrap-body {
        width: 320px;

        .wrap-content {
            padding: 18px;

            .txt-title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 18px;
            }
        }

        .wrap-buttons {
            display: flex;

            button {
                flex: 1;
                font-size: 17px;
                padding: 15px 28px;
                font-weight: bold;
                cursor: pointer;
            }

            button:nth-child(1) {
                background-color: var(--beige);
            }
            button:nth-child(2) {
                background-color: var(--black);
                color: #fff;
            }
        }
    }
}