.wrap-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    .txt-date {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .txt-time {
        font-size: 15px;
        font-weight: 500;
    }
}

.wrap-calendar {
    display: flex;
    justify-content: center;
}