.container {
    background-color: antiquewhite;
    font-weight: bold;
    text-align: center;

    .txt-date {
        font-size: 30px;
        margin-bottom: 8px;
    }

    .txt-day {
        font-size: 17px;;
    }
}