.dimmed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 9999;

    .icon-close {
        width: 20px;
        height: 20px;
        fill: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }
}