@font-face {
    font-family: 'NanumGeumEunBoHwa';
    src: 
        url("../assets/fonts/subset-NanumGeumEunBoHwa.woff2") format("woff2"), 
        url("../assets/fonts/subset-NanumGeumEunBoHwa.woff") format("woff"),
        url("../assets/fonts/subset-NanumGeumEunBoHwa.ttf") format("truetype");
    font-display: fallback;    
}